.container.portfolio-page {

    .text-zone {
        width: 75% !important;
        overflow-y: scroll;
    }

    .text-zone::-webkit-scrollbar {
        display: none;
    }

}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

div.portfolio-box {
    border: 1px solid rgba(0, 162, 255, 0.279);
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    position: relative;
    flex: 1 1 20%;
    background-color: transparent;
    border-radius: 3rem;
    padding: 1rem;
    background-color: rgba(134, 125, 125, 0.341);

    h2 {
        font-size: 2rem;
        color: black;
    }

    p {
        margin-top: 0;
        font-size: 1.4rem;
        animation: none;
    }

    .btn-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn {
            margin: 2px;
            padding: 0 2.3rem;
            height: 4rem;
            border: .2rem solid #ffd700;
            border-radius: .4rem;
            color: #fff;
            background: transparent;
            text-transform: uppercase;
            font-weight: 100;
            cursor: pointer;
        }
    }

}

div.portfolio-box img {
    max-width: 100%
}

@media screen and (max-width: 1200px) {

    .container.portfolio-page {
        width: 100%;

        .text-zone {
            width: 100% !important;
        }

        .portfolio-container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .portfolio-box {
                flex: 50%;
                background-color: rgba(134, 125, 125, 0.341);

                h2 {
                    font-size: 2rem;
                    color: black;
                }

                p {
                    margin-top: 0;
                    font-size: 1.4rem;
                    animation: none;
                }

                .btn-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
            
                    .btn {
                        margin: 2px;
                        padding: 0 2.3rem;
                        height: 4rem;
                        border: .2rem solid #ffd700;
                        border-radius: .4rem;
                        color: #fff;
                        background: transparent;
                        text-transform: uppercase;
                        font-weight: 100;
                        cursor: pointer;
                    }
                }
            }
        }

    }
}