.stage-cube-cont {
    width: 50%;
    height: 100%;
    top: 0;
    padding-top: 18%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: hidden;
}

.cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 10rem 10rem 0;
    margin-left: calc(50% - 10rem);

    div {
        position: absolute;
        width: 20rem;
        height: 20rem;
        border: 0.1rem solid #ccc;
        background: rgba(255, 255, 255, 0.4);
        font-size: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 2rem 0rem lightyellow;
    }

    .face1 {
        transform:  translateZ(10rem);
    }

    .face2 {
        transform:  rotateY(90deg) translateZ(10rem);
    }

    .face3 {
        transform:  rotateY(90deg) rotateX(90deg) translateZ(10rem);
    }

    .face4 {
        transform:  rotateY(180deg) rotateZ(90deg) translateZ(10rem);
    }

    .face5 {
        transform:  rotateY(-90deg) rotateZ(90deg) translateZ(10rem);
    }

    .face6 {
        transform:  rotateX(-90deg) translateZ(10rem);
    }
}

@keyframes spincube {
    from,
    to {
        // This is starting point of our animation
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% { 
        // on 16th % of our animation
        transform: rotateY(-90deg);
    }
    33% {
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
       transform: rotateY(-270deg) rotateZ(90deg);
    }
    83% {
        transform: rotateX(90deg);
    }
}

@media screen and (max-width: 700px) {
    .about-page .text-zone p{
        font-size: 1.9rem;
        text-align: justify;
    }

    .about-page h1:before
    {
        font-family: 'La Belle Aurore', cursive;
        color: #ffd700;
        font-size: 1.8rem;
        position: absolute;
        margin-top: -4rem;
        left: 1.5rem;
        opacity: 0.6;
    }
  
    .about-page .text-zone {
      position: absolute;
      width:90%;
      transform: none;
      padding: 0 4rem 0 4rem;
      box-sizing: border-box;
      top: 10rem;
    }

    .cubespinner{
        display: none;
    }
 
}