// Note : 1rem = 10px

.nav-bar {
    background: #181818;
    width: 6rem;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;

    .logo {
        display: block;
        padding: .8rem 0;

        img {
            display: block;
            margin: .8rem auto;
            width: 4rem;
            height: auto;

            &.sub-logo {
                width: 5rem;
            }
        }

    }

    nav {
        display: block;
        text-align: center;
        position: relative;
        margin-top: 12rem;
        width: 100%;

        // These a are referring to the NavLink tags
        a {
            font-size: 2.2rem;
            color: #4d4d4e;
            display: block;
            line-height: 5.1rem;
            position: relative;
            text-decoration: none;

            // These i is referring to FontAwesome icon
            i {
                transition: all 0.3s ease-out;
            }

            &:hover {
                color: #ffd700;

                svg {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                font-size: .9rem;
                letter-spacing: .2rem;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;
            }

            &:first-child {
                &::after {
                    content: 'HOME';
                }
            }
        }

        a.about-link {
            &:after {
                content: 'ABOUT';
            }
        }

        a.portfolio-link {
            &:after {
                content: 'PORTFOLIO';
            }
        }

        a.blog-link {
            &::after {
                content: 'BLOG';
            }
        }

        a.contact-link {
            &:after {
                content: 'CONTACT';
            }
        }

        a.active {
            svg {
                color: #ffd700;
            }
        }
    }

    ul {
        position: absolute;
        bottom: 2rem;
        width: 100%;
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;

        li {

            a {
                padding: .7rem 0;
                display: block;
                font-size: 1.5rem;
                line-height: 1.6rem;
            }

            &:hover svg {
                color: #ffd700;
            }
        }
    }
}

// On larger screen we don't want to show the hamburger icon
.hamburger-icon,
.close-icon {
    display: none;
}


// Optimisation for msmaller devices
// max-width: 1200px means devices whose width is smaller than or equal to 1200px these styles should be applied to those
@media screen and (max-width:1200px) {
    .nav-bar {
        display: block;
        background: transparent;
        position: initial;
        height: auto;
        min-height: auto;

        ul,
        nav {
            display: none;
        }

        nav {
            width: 100%;
            height: 100%;
            background: #181818;
            top: 0;
            left: 0;
            position: fixed;
            z-index: 2;
            margin: 0;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            a:after {
                opacity: 1;
                position: initial;
                width: auto;
                margin-left: 1rem;
            }

            a svg {
                opacity: 1 !important;
            }

            &.mobile-show {
                display: block; 
            }
        }

        .hamburger-icon,
        .close-icon {
            display: block;
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
        }
    }
}