html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 1.1rem/1.4 'Helvetica Neue', 'sans-serif';
  color: #444;
  background-color: #022c43;
  /* https://developer.mozilla.org/en-US/docs/web/css/overflow */
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media(max-width:998px){
  html{
    font-size: 55%;
  }
}

@media(max-width:768px){
  html{
    font-size: 45%;
  }
}
